$softred:#ffc0cb;
$lightred: #ffd1d6;
$darkred:#800000;
//red
$green:#707007;
$softgreen:#707007;
$yellow:#707007;
$darkgreen:#707007;
//Gold

$dark:#36304A;
$dark-grey: #565656;
$soft-grey:#666666;
$semi-grey:#f7f7f7;